.home {
  padding: 219px 0 77px;
  background: url("../img/home-bg.png") no-repeat right top;
  background-size: 1436px;
  position: relative;
  z-index: 1;
  font-size: 33px;
  overflow: hidden;
}
.home .box-text {
  margin: 143px 0 0;
  letter-spacing: -0.5px;
  line-height: 1.09;
}

.home-content {
  width: 100%;
}

.home-image {
  position: absolute;
  z-index: -1;
  right: -180px;
  top: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.date img {
  margin: 0 25px 0 0;
}

.slogan {
  margin: 65px 0 78px;
  max-width: 450px;
  line-height: 1.09;
}

.causes {
  position: relative;
  z-index: 1;
}
.causes::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1382px;
  left: 0;
  top: 100px;
  background: url("../img/bg2.png") no-repeat center;
  background-size: cover;
}
.causes .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.causes-card {
  margin: 0 0 56px;
  text-align: center;
  max-width: 403px;
  min-height: 671px;
  width: 100%;
  line-height: 1.1;
  position: relative;
  z-index: 1;
  background: url("../img/border-gradient.png") no-repeat center;
  background-size: 100%;
  border-radius: 40px;
  padding: 56px 30px 40px;
}
.causes-card h3 {
  font-size: 36px;
  line-height: 1;
  margin: 0 0 35px;
}
.causes-card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 40px;
  height: 140px;
}
.causes-card__icon img {
  max-height: 100%;
}

.learn {
  position: relative;
  z-index: -1;
  margin: 26px 0 0;
}
.learn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -830px;
  width: 100%;
  height: 2657px;
  background: url("../img/bg3.png") no-repeat center;
  background-size: 100%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: -1;
}
.learn h2 {
  max-width: 675px;
}
.learn .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-check {
  width: 100%;
  letter-spacing: 0.07px;
}
.list-check li {
  width: 100%;
  margin: 0 0 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-check li:last-child {
  margin: 0;
}
.list-check li::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 47px 0 0;
  width: 55px;
  height: 55px;
  min-width: 55px;
  background: url("../img/check-icon.png") no-repeat center;
  background-size: 100%;
}

.motivation {
  margin: 68px 0 65px;
}
.motivation h2 {
  max-width: 1160px;
  margin: 0 auto;
}
.motivation h2 br {
  display: none;
}
.motivation h2 span {
  font-size: 100px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  display: block;
}
.motivation h2 span .money-value {
  display: inline;
}
.motivation h2 sub {
  font-family: "HeliosC", sans-serif;
}

.money-value {
  font-family: "bloomings", sans-serif;
  display: inline;
}

.about-author {
  position: relative;
  z-index: 0;
}
.about-author::before {
  content: "";
  position: absolute;
  width: 1920px;
  height: 3140px;
  left: 50%;
  top: -589px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: url("../img/bg4.png") no-repeat center;
  background-size: 100%;
  z-index: -1;
}
.about-author h3 {
  font-size: 48px;
  font-family: "MarlinoRegularPersonalUse", sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 755px;
}
.about-author .box-text {
  text-align: center;
  max-width: 1262px;
  margin: 0 auto;
}
.about-author__photo {
  margin: 80px auto 0;
  position: relative;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.program {
  margin: 85px 0;
  position: relative;
  z-index: 0;
}
.program::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -1310px;
  left: 0;
  width: 100%;
  height: 2651px;
  background: url("../img/bg5.png") no-repeat center;
  background-size: 100%;
  z-index: -1;
}
.program .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.program-box {
  position: relative;
  z-index: 1;
  margin: 0 53px 73px 0;
  max-width: 634px;
  width: 100%;
  min-height: 643px;
  border-radius: 40px;
  padding: 283px 60px 52px;
}
.program-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/border-gradient3.png") no-repeat center;
  background-size: 100%;
}
.program-box__img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 40px;
}
.program-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
.program-box:last-child {
  margin: 0 0 73px;
}
.program-box h3 {
  margin: 0 0 56px;
  width: 100%;
  font-size: 52.5px;
  text-align: left;
}
.program-box h3 span {
  font-family: "Circe", sans-serif;
  font-weight: bold;
}
.program-box .box-text {
  font-size: 24.5px;
}

.name-module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0 0 26px;
}
.name-module img {
  width: 99px;
  margin: 0 26px 0 0;
}
.name-module__text h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.program-time {
  width: 100%;
  text-align: center;
  margin: 0 auto 70px;
  letter-spacing: 0.07px;
}

.btn-toggle-program {
  margin: 0 auto;
}

.program-details {
  margin: 83px 0 0;
  width: 100%;
  display: none;
}

.module-box {
  margin: 0 0 54px;
  width: 100%;
  border-radius: 55px;
  background-color: #1c191c;
  padding: 77px 70px 85px 61px;
}
.module-box h3 {
  text-align: left;
  margin: 0 0 40px;
}
.module-box .name-module {
  margin: 0 0 80px;
}
.module-box .name-module__text span {
  font-size: 30px;
  display: inline-block;
}
.module-box .name-module img {
  margin: 0 36px 0 0;
}
.module-box:last-child {
  margin: 0;
}
.module-box:last-child .team-learn {
  display: none;
}
.module-box .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-mobile {
  display: none;
}

.module-column {
  width: 50%;
  max-width: 594px;
}
.module-column h4 {
  text-transform: uppercase;
  color: #efc985;
  font-weight: bold;
  margin: 0 0 20px;
}

.module-learn {
  margin: 0 0 30px;
  line-height: 1.1;
}
.module-learn:last-child {
  margin: 0;
}

.team-learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 68px 0 0;
}
.team-learn .box-text {
  text-align: left;
  font-size: 30px;
  font-weight: 300;
  max-width: 270px;
  font-family: "Circe", sans-serif;
  margin: 0 0 0 28px;
}

.certificate {
  margin: 80px 0;
}
.certificate h2 {
  max-width: 915px;
}
.certificate h2 br {
  display: none;
}

.certificate-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 868px;
  height: 614px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #666267;
}

.stages-learn .text-description {
  text-align: center;
  width: 100%;
  max-width: 1005px;
  margin: 0 auto 110px;
  background-image: -webkit-gradient(linear, left top, right top, from(#d4ab3c), color-stop(#ffe6b0), to(#d29940)), -webkit-gradient(linear, left top, left bottom, from(#cd9b54), to(#cd9b54));
  background-image: linear-gradient(to right, #d4ab3c, #ffe6b0, #d29940), linear-gradient(to bottom, #cd9b54, #cd9b54);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list-steps {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.14;
}
.list-steps li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 104px;
}
.list-steps .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 28px 0 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#d49d3c), color-stop(#ffe0b0), to(#d28c40));
  background-image: linear-gradient(to right, #d49d3c, #ffe0b0, #d28c40);
  width: 98px;
  height: 98px;
  min-width: 98px;
  color: #000;
  font-size: 48px;
  font-weight: normal;
}

.steps {
  margin: 10px 0 70px;
  position: relative;
  z-index: 0;
}
.steps::before {
  content: "";
  position: absolute;
  left: 0;
  top: -229px;
  width: 1552px;
  height: 1974px;
  background: url("../img/bg6.png") no-repeat left center;
  background-size: 100%;
  z-index: -1;
}
.steps h2 {
  max-width: 1000px;
  padding-top: 0;
}
.steps h2 br {
  display: none;
}
.steps h2::after {
  display: none;
}
.steps .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps-box {
  position: relative;
  margin: 0 274px 0 0;
  line-height: 1.14;
  text-align: center;
}
.steps-box::before {
  content: "";
  position: absolute;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d49d3c), color-stop(#ffe0b0), to(#d28c40));
  background-image: linear-gradient(to top, #d49d3c, #ffe0b0, #d28c40);
  width: 310px;
  height: 2px;
  top: 60px;
  right: -290px;
}
.steps-box:last-child {
  margin: 0;
}
.steps-box:last-child::before {
  display: none;
}
.steps-box:last-child .number {
  right: auto;
  left: 30px;
}
.steps-box .number {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d49d3c), color-stop(#ffe0b0), to(#d28c40));
  background-image: linear-gradient(to top, #d49d3c, #ffe0b0, #d28c40);
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30.5px;
  font-weight: bold;
  border-radius: 50%;
  color: #000;
  position: absolute;
  right: 30px;
  top: 40px;
}
.steps-box__icon {
  margin: 0 auto 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prices {
  margin: 0 0 94px;
}
.prices .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-card {
  margin: 0 55px 60px 0;
  padding: 75px 50px 80px;
  border-radius: 40px;
  background: url("../img/border-gradient2.png") no-repeat center;
  background-size: 100%;
  max-width: 449px;
  width: 100%;
  min-height: 601px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.14;
}
.price-card .btn {
  width: 100%;
  padding: 0;
  margin: auto auto 0;
}
.price-card h3 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.07px;
  text-transform: uppercase;
  margin: 57px 0 50px;
  min-height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.price-card h3 span {
  font-size: 33px;
  font-weight: 300;
  display: block;
  text-transform: none;
  margin: 36px 0 0;
}
.price-card:last-child {
  margin: 0 0 60px;
}
.price-card:last-child h3 {
  margin: 0 0 110px;
}

.price {
  font-size: 60px;
  font-weight: bold;
  font-family: "Circe", sans-serif;
  text-transform: uppercase;
}

.prices-description {
  text-align: center;
  margin: 38px auto 100px;
  max-width: 1202px;
  line-height: 1.45;
  letter-spacing: 0.07px;
}

.btn-question {
  padding: 20px 80px;
  margin: 0 auto;
  font-weight: bold;
}

.social h3 {
  max-width: 740px;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}
.social h3 br {
  display: none;
}
.social .box-text {
  text-align: center;
  line-height: 1.14;
}

.list-social {
  margin: 92px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.list-social li {
  margin: 0 38px 0 0;
}
.list-social li:last-child {
  margin: 0;
}
.list-social li a {
  width: 85px;
  height: 85px;
  background: -webkit-gradient(linear, left top, right top, from(#d49d3c), color-stop(#ffe0b0), to(#d28c40));
  background: linear-gradient(to right, #d49d3c, #ffe0b0, #d28c40);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-social li a:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#d49d3c), color-stop(#ffe0b0), to(#d28c40));
  background: linear-gradient(to top, #d49d3c, #ffe0b0, #d28c40);
}

.reviews {
  margin: 70px 0;
}

.reviews__heading {
  color: #fff;
  text-shadow: none;
  margin: 0 auto 50px;
}

.reviews__list-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 80px;
  margin: auto;
  color: #fff;
  font-size: 30px;
  width: 100%;
}

.reviews__list-media {
  width: 259px;
  min-width: 259px;
  height: 259px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.reviews__list-media-img {
  position: relative;
  border-radius: 50%;
  font-size: 0;
}

.reviews__list-media-img:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.reviews__list-text {
  padding-left: 30px;
  font-weight: 300;
}

.callback-section {
  margin: 180px 0;
  position: relative;
  z-index: 1;
}

.faq {
  margin: 0 0 80px;
}
.faq h2 {
  max-width: 900px;
}

.panel_heading {
  width: 100%;
  margin: 0 0 40px;
}
.panel_heading:last-child {
  margin: 0;
}
.panel_heading.in .block_title:after {
  content: "-";
  padding: 3px 0 0;
}

.block_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 46px;
  background: #fff;
  color: #010101;
  font-weight: normal;
  cursor: pointer;
}
.block_title:after {
  content: "+";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 0 0 auto;
  width: 54px;
  height: 54px;
  min-width: 54px;
  background: #8C8C8C;
  font-size: 40px;
  color: #fff;
  line-height: 1;
  padding: 8px 0 0;
}

.block_hover {
  padding: 41px 46px 45px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d4ab3c), color-stop(#ffe6b0), to(#d29940)), -webkit-gradient(linear, left top, left bottom, from(#cd9b54), to(#cd9b54));
  background-image: linear-gradient(to top, #d4ab3c, #ffe6b0, #d29940), linear-gradient(to bottom, #cd9b54, #cd9b54);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 200;
  display: none;
}
.block_hover p {
  max-width: 980px;
}